{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block extra-head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <style>
    .leaflet-container {  /* all maps */
      height: 600px;
      margin-bottom: 20px;
    }
  </style>
{% endblock extra-head %}

{% block menucont %}
  {% include 'navbar.html' %}
  <main class="flex-shrink-0">
    <div id="content" class="container">
      <div class="row">
        <div class="col" style="margin-bottom: 20px">
          <div class="card" id="nav-card">
            {% block nav-card %}
              {% include "djeocad/htmx/base_list.html" %}
            {% endblock nav-card %}
          </div>
        </div>
        {{ mapbox_token|json_script:"mapbox_token"}}
        <script id="marker_data" type="application/json">{{ drawings|geojsonfeature:"popupContent"|safe }}</script>
        <script id="line_data" type="application/json">{{ lines|geojsonfeature:"popupContent"|safe }}</script>
        <script id="block_data" type="application/json">{{ blocks|geojsonfeature:"popupContent:block_geom"|safe }}</script>
        <script src="{% static 'djeocad/js/base_list.js'%}"></script>
        <div class="col col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
          {% leaflet_map "mymap" callback="window.map_init" %}
        </div>
      </div>
    </div>
  </main>
  {% include 'footer.html' %}
{% endblock menucont %}
