{% load bootstrap5 %}
{% load i18n %}

<div class="card mx-auto" style="width: 480px;">
  <div class="card-header">
    <h4 class="card-title">
      {% trans "Delete drawing"%}
    </h4>
  </div>
  <div class="card-body">
    <p>
      {% trans "Are you sure you want to delete drawing" %}
      <strong>{{ object }}</strong>?
    </p>
    <form method="POST" action="">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-danger"
        type="submit"
        value="{% trans 'Delete' %}" />
      <a class="btn btn-secondary"
        href="{% url 'djeocad:drawing_detail' username=object.user.username pk=object.id %}">
        {% trans "Discard" %}
      </a>
    </form>
  </div>
</div>
