{% load i18n %}

<div class="card-header">
  <h4 class="card-title">{% trans "Author"%}: {{ author.username }}</h4>
</div>
<div class="card-body">
  {% if drawings %}
    <h5>{% trans "Drawings"%}:</h5>
    <ul>
      {% for drawing in drawings %}
        <li>
          <a class="link-primary"
            hx-get="{% url 'djeocad:drawing_detail' username=drawing.user.username pk=drawing.id %}"
            hx-target="#nav-card"
            hx-push-url="true">
            {{ drawing }}
          </a>
          <small>
            {{ drawing.intro }}
          </small>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{% trans "No drawings yet" %}</p>
  {% endif %}
  <a class="link-primary"
    hx-get="{% url 'djeocad:base_list' %}"
    hx-target="#nav-card"
    hx-push-url="true">
    {% trans "All authors"%}
  </a>
</div>
<div class="card-footer">
  {% if user.is_authenticated %}
    <a class="btn btn-primary"
      href="{% url 'djeocad:drawing_create' username=request.user.username %}">
      {% trans "Add drawing" %}
    </a>
  {% else %}
    <a class="btn btn-primary"
      hx-get="{% url 'djeocad:drawing_simple_create' %}"
      hx-target="#nav-card"
      hx-push-url="true">
      {% trans "Add drawing" %}
    </a>
  {% endif %}
</div>
{% include "djeocad/includes/map_data.html" %}
