{% load i18n %}

<div class="card-header">
  <h4 class="card-title">{% trans "GeoCAD" %}</h4>
</div>
<div class="card-body">
  <h5>{% trans "Authors"%}: </h5>
  {% if author_list %}
    <ul>
      {% for author in author_list %}
        <li>
          <a class="link-primary"
            hx-get="{% url 'djeocad:author_list' username=author %}"
            hx-target="#nav-card"
            hx-push-url="true">
            {{ author }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{% trans "No authors yet" %}</p>
  {% endif %}
</div>
<div class="card-footer">
  {% if user.is_authenticated %}
    <a class="btn btn-primary"
      hx-get="{% url 'djeocad:drawing_create' username=request.user.username %}"
      hx-target="#nav-card"
      hx-push-url="true">
      {% trans "Add drawing" %}
    </a>
  {% else %}
    <a class="btn btn-primary"
      hx-get="{% url 'djeocad:drawing_simple_create' %}"
      hx-target="#nav-card"
      hx-push-url="true">
      {% trans "Add drawing" %}
    </a>
  {% endif %}
</div>
{% include "djeocad/includes/map_data.html" %}
