{% load i18n %}
{% load fb_versions %}

<div class="card-header">
  <h4 class="card-title">{% trans "Drawing"%}: {{ object.title }}</h4>
</div>
{% if object.fb_image %}
  <img src="{% version object.fb_image 'medium' %}" class="card-img-top" alt="{{ object.intro }}">
{% endif %}
<div class="card-body">
  <p class="card-text">{{ object.intro }}</p>
  <ul>
    <li>
      <a class="link-primary"
        hx-get="{% url 'djeocad:author_list' username=object.user.username %}"
        hx-target="#nav-card"
        hx-push-url="true">
        {% trans "Back to author"%}
      </a>
    </li>
    <li>
      <a class="link-primary"
        hx-get="{% url 'djeocad:base_list' %}"
        hx-target="#nav-card"
        hx-push-url="true">
        {% trans "All authors"%}
      </a>
    </li>
  </ul>
</div>
<div class="card-footer">
  <a class="btn btn-success" style="margin-bottom: 15px;"
    href="{% url 'djeocad:drawing_download' pk=object.id %}">
    {% trans "Download drawing" %}
  </a>
  {% if request.user == object.user %}
    <div class="dropdown">
      <a class="btn btn-primary dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        {% trans "Modify" %}
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li>
          <a class="dropdown-item"
            href="{% url 'djeocad:drawing_update' username=object.user.username pk=object.id %}">
            {% trans "Modify drawing" %}
          </a>
        </li>
        <li>
          <a class="dropdown-item"
            hx-get="{% url 'djeocad:drawing_delete' username=object.user.username pk=object.id %}"
            hx-target="#nav-card"
            hx-push-url="{% url 'djeocad:author_list' username=object.user.username %}"
            hx-confirm="{% trans 'Are you sure you want to delete this drawing?' %}">
            {% trans "Delete drawing" %}
          </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li style="margin-left: 15px;">{% trans "Modify layers" %}</li>
        {% for layer in lines %}
          <li>
            <a class="dropdown-item"
              href="{% url 'djeocad:layer_update' username=object.user.username pk=layer.id %}">
              {% trans "Layer" %} - {{ layer.name }}
            </a>
          </li>
        {% endfor %}
        <li>
          <a class="dropdown-item"
            href="{% url 'djeocad:layer_create' username=object.user.username pk=object.id %}">
            {% trans "Add layer" %}
          </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li style="margin-left: 15px;">{% trans "Modify blocks" %}</li>
        {% for blok in blocks %}
          <li>
            <a class="dropdown-item"
              href="{% url 'djeocad:layer_update' username=object.user.username pk=blok.id %}">
              {% trans "Block" %} - {{ blok.name }}
            </a>
          </li>
          {% for inst in blok.instances.all %}
            <li>
              <a class="dropdown-item"
                href="{% url 'djeocad:insert_update' username=object.user.username pk=inst.id %}">
                - {% trans "Instance" %} - {{ inst.id }}
              </a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
{% include "djeocad/includes/map_data.html" %}
