{% load i18n %}
{% load fb_versions %}

<div class="card-header">
  <h4 class="card-title">{% trans "Drawing"%}: {{ object.title }}</h4>
</div>
<img src="{% version object.fb_image 'medium' %}" class="card-img-top" alt="{{ object.intro }}">
<div class="card-body">
  <p class="card-text">{{ object.intro }}</p>
  <ul>
    <li>
      <a class="link-primary"
        hx-get="{% url 'djeocad:author_list' username=object.user.username %}"
        hx-target="#nav-card"
        hx-push-url="true">
        {% trans "Back to author"%}
      </a>
    </li>
    <li>
      <a href="{% url 'djeocad:drawing_download' pk=object.id %}">
        {% trans "Download drawing"%}
      </a>
    </li>
  </ul>
</div>
{% if request.user == object.user %}
  <div class="card-footer">
    <a class="btn btn-primary"
      href="{% url 'djeocad:drawing_update' username=object.user.username pk=object.id %}">
      {% trans "Modify" %}
    </a>
    <a class="btn btn-danger"
      hx-get="{% url 'djeocad:drawing_delete' username=object.user.username pk=object.id %}"
      hx-target="#nav-card"
      hx-push-url="{% url 'djeocad:author_list' username=object.user.username %}"
      hx-confirm="{% trans 'Are you sure you want to delete this drawing?' %}">
      {% trans "Delete" %}
    </a>
  </div>
{% endif %}
{% if m_crypto %}
  {% load geojson_tags %}
  <script id="{{ m_crypto }}" type="application/json">{{ object|geojsonfeature:"popupContent"|safe }}</script>
  <script id="{{ l_crypto }}" type="application/json">{{ lines|geojsonfeature:"popupContent"|safe }}</script>
  <script id="{{ b_crypto }}" type="application/json">{{ blocks|geojsonfeature:"popupContent"|safe }}</script>
{% endif %}
