{% load i18n %}

<div class="card" id="nav-card">
  <div class="card-header">
    <h4 class="card-title">{% trans "GeoCAD" %}</h4>
  </div>
  <div class="card-body">
    <h5>{% trans "Authors"%}: </h5>
    {% if authors %}
      <ul>
        {% for author in authors %}
          <li>
            <a class="link-primary"
              hx-get="{% url 'djeocad:author_detail' username=author %}"
              hx-target="#nav-card"
              hx-swap="outerHTML"
              hx-push-url="true">
              {{ author }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{% trans "No authors yet" %}</p>
    {% endif %}
  </div>
  {% if user.is_staff %}
    <div class="card-footer">
      <a class="btn btn-primary" href="/admin/djeocad/drawing/add/">
        {% trans "Add drawing" %}
      </a>
    </div>
  {% endif %}
</div>
