{% extends "djeocad/base_form.html" %}
{% load bootstrap5 %}
{% load i18n %}

{% block content %}
  <div class="card mx-auto" style="max-width: 480px; margin-top: 60px">
    <div class="card-header">
      <h4 class="card-title">
        {% trans "Add drawing"%}
      </h4>
      <small>
        {% blocktrans %}
          Insert Title and a short description. Choose a DXF file (ASCII type). Eventual geodata
          will be misregarded. On the map insert the WCS origin of the drawing.
          Choose the origin wisely, i.e. a building cornerstone. Insert rotation of drawing
          with respect to True North (counterclockwise is positive).
        {% endblocktrans %}
      </small>
    </div>
    <div class="card-body">
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-primary"
          style="margin-bottom: 15px;"
          type="submit"
          value="{% trans 'Add' %}" />
      </form>
    </div>
  </div>
{% endblock content %}
