{% extends "djeocad/base_form.html" %}
{% load bootstrap5 %}
{% load i18n %}
{% load fb_versions %}

{% block content %}
  <div class="card mx-auto" style="max-width: 480px; margin-top: 60px">
    <div class="card-header">
      <h4 class="card-title">
        {% trans "Update drawing"%}: {{ object }}
      </h4>
    </div>
    <div class="card-body">
      {% if messages %}
        {% include "djeocad/htmx/item_delete.html" %}
      {% endif %}
      {% if object.fb_image %}
        <img class="card-img-top"
          src="{% version object.fb_image 'big' %}"
          alt="{{ object.intro }}">
      {% endif %}
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-primary"
          type="submit"
          value="{% trans 'Update' %}" />
        {% if object.epsg %}
          <a class="btn btn-secondary"
            href="{% url 'djeocad:drawing_detail' username=object.user.username pk=object.id %}">
            {% trans "Discard" %}
          </a>
        {% endif %}
      </form>
    </div>
  </div>
  {% if object.epsg %}
    <div class="mx-auto" style="max-width: 480px; margin-top: 20px">
      <h4>{% trans "Layers / Blocks" %}:</h4>
      {% for layer in layers %}
        {% include "djeocad/htmx/layer_inline.html" %}
      {% endfor %}
      {% for layer in blocks %}
        {% include "djeocad/htmx/layer_inline.html" %}
      {% endfor %}
      <a class="btn btn-primary"
        href="{% url 'djeocad:layer_create' username=object.user.username pk=object.id %}">
        {% trans "Add layer" %}
      </a>
    </div>
  {% endif %}
{% endblock content %}
