{% extends "djeocad/base_form.html" %}
{% load bootstrap5 %}
{% load i18n %}
{% load fb_versions %}

{% block content %}
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col" style="margin-bottom: 20px">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              {% trans "Update drawing"%}: {{ object }}
            </h4>
          </div>
          <div class="card-body">
            {% if object.fb_image %}
              <img class="card-img-top"
                src="{% version object.fb_image 'big' %}"
                alt="{{ object.intro }}">
            {% endif %}
            {% bootstrap_field form.title %}
            {% bootstrap_field form.intro %}
            {% bootstrap_field form.dxf %}
            {% bootstrap_field form.image %}
            {% bootstrap_field form.rotation %}
            {% bootstrap_field form.private %}
          </div>
          <div class="card-footer">
            <input class="btn btn-primary"
              type="submit"
              value="{% trans 'Update' %}" />
            <a class="btn btn-secondary"
              href="{% url 'djeocad:drawing_detail' username=object.user.username pk=object.id %}">
              {% trans "Discard" %}
            </a>
          </div>
        </div>
      </div>
      <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
        {% bootstrap_field form.geom %}
      </div>
    </div>
  </form>
{% endblock content %}
