{% extends "djeocad/base_form.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
  <form method="POST" action="">
    {% csrf_token %}
    <div class="row">
      <div class="col" style="margin-bottom: 20px">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              {% trans "Update insertion"%}: {{ object.id }}, {% trans "Block"%}: {{ object.block.name }}
            </h4>
          </div>
          <div class="card-body">
            {{ form.layer|as_crispy_field }}
            {{ form.rotation|as_crispy_field }}
            {{ form.x_scale|as_crispy_field }}
            {{ form.y_scale|as_crispy_field }}
          </div>
          <div class="card-footer">
            <input class="btn btn-primary"
                   style="margin-bottom: 15px;"
                   type="submit"
                   value="{% trans 'Update' %}" />
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle"
                 href="#"
                 role="button"
                 id="dropdownMenuLink"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                {% trans "Other actions" %}
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li>
                  <a class="dropdown-item"
                     hx-get="{% url 'djeocad:insert_explode' username=object.layer.drawing.user.username pk=object.id %}"
                     hx-target="#content"
                     hx-push-url="true">
                    {% trans "Explode insertion" %}
                  </a>
                </li>
                <li>
                  <a class="dropdown-item"
                     hx-get="{% url 'djeocad:insert_delete' username=object.layer.drawing.user.username pk=object.id %}"
                     hx-target="#content"
                     hx-push-url="true">
                    {% trans "Delete insertion" %}
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item"
                     href="{% url 'djeocad:layer_update' username=object.block.drawing.user.username pk=object.block.id %}">
                    {% trans "Modify block" %}
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item"
                     href="{% url 'djeocad:drawing_detail' username=object.block.drawing.user.username pk=object.block.drawing.id %}">
                    {% trans "Discard" %}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
        {{ form.point|as_crispy_field }}
      </div>
    </div>
  </form>
{% endblock content %}
