{% extends "djeocad/base_form.html" %}
{% load bootstrap5 %}
{% load i18n %}

{% block content %}
  <div class="card mx-auto" style="max-width: 480px; margin-top: 60px">
    <div class="card-header">
      <h4 class="card-title">
        {% if object.is_block %}
          {% trans "Update block"%}: {{ object.name }}, {% trans "ID"%}: {{ object.id }}
        {% else %}
          {% trans "Update layer"%}: {{ object.name }}, {% trans "ID"%}: {{ object.id }}
        {% endif %}
      </h4>
    </div>
    <div class="card-body">
      <form method="POST" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-primary"
          type="submit"
          value="{% trans 'Update' %}" />
        <a class="btn btn-secondary"
          href="{% url 'djeocad:drawing_update' username=object.drawing.user.username pk=object.drawing.id %}"
        >
          {% trans "Discard" %}
        </a>
      </form>
    </div>
  </div>
  {% if object.is_block %}
    <div class="mx-auto" style="max-width: 480px; margin-top: 20px">
      <h4>{% trans "Instances" %}:</h4>
      {% if object.instances %}
        {% for insert in object.instances.all %}
          {% include "djeocad/htmx/insertion_inline.html" %}
        {% endfor %}
      {% else %}
        <p>{% trans "No instances yet" %}</p>
      {% endif %}
      <a class="btn btn-primary"
        href="#">
        {% trans "Add instance" %}
      </a>
    </div>
  {% endif %}
{% endblock content %}
