{% extends "djeocad/base_form.html" %}
{% load bootstrap5 %}
{% load i18n %}

{% block content %}
  <form method="POST" action="">
    {% csrf_token %}
    <div class="row">
      <div class="col" style="margin-bottom: 20px">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              {% if object.is_block %}
                {% trans "Update block"%}: {{ object.name }}, {% trans "ID"%}: {{ object.id }}
              {% else %}
                {% trans "Update layer"%}: {{ object.name }}, {% trans "ID"%}: {{ object.id }}
              {% endif %}
            </h4>
          </div>
          <div class="card-body">
            {% bootstrap_field form.name %}
            {% bootstrap_field form.color_field %}
            {% bootstrap_field form.linetype %}
          </div>
          <div class="card-footer">
            <input class="btn btn-primary"
              style="margin-bottom: 15px;"
              type="submit"
              value="{% trans 'Update' %}" />
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                {% trans "Other actions" %}
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% if object.is_block %}
                  <li>
                    <a class="dropdown-item"
                      href="{% url 'djeocad:insert_create' username=object.drawing.user.username pk=object.id %}">
                      {% trans "Add instance" %}
                    </a>
                  </li>
                {% else %}
                  <li>
                    <a class="dropdown-item"
                      href="{% url 'djeocad:layer_to_block' username=object.drawing.user.username pk=object.id %}">
                      {% trans "Transform layer to block" %}
                    </a>
                  </li>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item"
                    href="{% url 'djeocad:drawing_update' username=object.drawing.user.username pk=object.drawing.id %}">
                    {% trans "Modify drawing" %}
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item"
                    href="{% url 'djeocad:drawing_detail' username=object.drawing.user.username pk=object.drawing.id %}">
                    {% trans "Discard" %}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
        {% bootstrap_field form.geom %}
      </div>
    </div>
  </form>
  <div class="mx-auto" style="max-width: 480px; margin-top: 20px">
    {% if object.is_block %}
      <h4>{% trans "Instances" %}:</h4>
      {% if object.instances %}
        {% for insert in object.instances.all %}
          {% include "djeocad/htmx/insertion_inline.html" %}
        {% endfor %}
      {% else %}
        <p>{% trans "No instances yet" %}</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock content %}
