{% extends "djeocad/base_form.html" %}
{% load bootstrap5 %}
{% load i18n %}

{% block content %}
  <form method="POST" action="">
    {% csrf_token %}
    <div class="row">
      <div class="col" style="margin-bottom: 20px">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              {% trans "Create layer"%}
            </h4>
          </div>
          <div class="card-body">
            {% bootstrap_field form.name %}
            {% bootstrap_field form.color_field %}
            {% bootstrap_field form.linetype %}
          </div>
          <div class="card-footer">
            <input class="btn btn-primary"
              type="submit"
              value="{% trans 'Add' %}" />
            <a class="btn btn-secondary"
              href="{% url 'djeocad:drawing_update' username=drawing.user.username pk=drawing.id %}"
            >
              {% trans "Discard" %}
            </a>
          </div>
        </div>
      </div>
      <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
        {% bootstrap_field form.geom %}
      </div>
    </div>
  </form>
  {{ drawing.geom|json_script:"locate_drawing" }}
{% endblock content %}
